<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Webapi\Controller\Rest\RequestProcessorPool">
        <arguments>
            <argument name="requestProcessors" xsi:type="array">
                <item name="asyncSchema" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\WebapiAsync\Controller\Rest\AsynchronousSchemaRequestProcessor</item>
                    <item name="validator" xsi:type="object">Magento\WebapiAsync\Controller\Rest\Validator\AsynchronousSchemaRequestValidator</item>
                </item>
                <item name="async" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\WebapiAsync\Controller\Rest\AsynchronousRequestProcessor</item>
                    <item name="validator" xsi:type="object">Magento\WebapiAsync\Controller\Rest\Validator\AsynchronousRequestValidator</item>
                </item>
                <item name="asyncBulkSchema" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\WebapiAsync\Controller\Rest\AsynchronousSchemaRequestProcessor</item>
                    <item name="validator" xsi:type="object">Magento\WebapiAsync\Controller\Rest\Validator\VirtualType\AsynchronousBulkSchemaRequestValidator</item>
                </item>
                <item name="asyncBulk" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\WebapiAsync\Controller\Rest\VirtualType\AsynchronousBulkRequestProcessor</item>
                    <item name="validator" xsi:type="object">Magento\WebapiAsync\Controller\Rest\Validator\VirtualType\AsynchronousBulkRequestValidator</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>