<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ImportService\Api\ImportProcessorInterface" type="Magento\ImportService\Model\ImportProcessor" />
    <preference for="Magento\ImportService\Api\ImportFileInterface" type="Magento\ImportService\Model\ImportFile" />
    <preference for="Magento\ImportService\Api\Data\SourceInterface" type="Magento\ImportService\Model\Source" />
    <preference for="Magento\ImportService\Api\Data\FileEntryInterface" type="Magento\ImportService\Model\FileEntry" />
    <preference for="Magento\ImportService\Api\Data\ImportEntryInterface" type="Magento\ImportService\Model\ImportEntry" />
    <preference for="Magento\ImportService\Api\Data\ImportParamsInterface" type="Magento\ImportService\Model\ImportParams" />
    <preference for="Magento\ImportService\Model\ConfigInterface" type="Magento\ImportService\Model\Config" />

    <type name="Magento\ImportService\Model\Source\FileTypePool">
        <arguments>
            <argument name="sourceFileTypes" xsi:type="array">
                <item name="csv" xsi:type="string">Magento\ImportService\Model\Source\FileType\Csv</item>
                <item name="xml" xsi:type="string">Magento\ImportService\Model\Source\FileType\Xml</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\ImportService\Model\Source\TypePool">
        <arguments>
            <argument name="sourceTypes" xsi:type="array">
                <item name="local_path" xsi:type="string">Magento\ImportService\Model\Source\Type\LocalPath</item>
                <item name="remote_url" xsi:type="string">Magento\ImportService\Model\Source\Type\RemoteUrl</item>
                <item name="base64_encoded_data" xsi:type="string">Magento\ImportService\Model\Source\Type\EncodedData</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="generateApiClientBasedOnSwagger" xsi:type="object">Magento\ImportService\Console\Command\GenerateInternalApiClient</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\ImportService\Model\ApiClient\CodeGenerator">
        <arguments>
            <argument name="schemaToGenerate" xsi:type="array">
                <item name="Rest" xsi:type="object" sortOrder="5">Magento\ImportService\Model\ApiClient\SchemaInfo\Rest</item>
                <item name="Async" xsi:type="object" sortOrder="10">Magento\ImportService\Model\ApiClient\SchemaInfo\Async</item>
                <item name="AsyncBulk" xsi:type="object" sortOrder="15">Magento\ImportService\Model\ApiClient\SchemaInfo\AsyncBulk</item>
            </argument>
        </arguments>
    </type>
</config>
