<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--preference for="Magento\ImportService\Api\SourceUploadInterface"
                type="Magento\ImportService\Model\SourceUpload" /-->
    <preference for="Magento\ImportService\Api\Data\SourceInterface"
                type="Magento\ImportService\Model\Source" />
    <preference for="Magento\ImportService\Model\ConfigInterface"
                type="Magento\ImportService\Model\Config" />
    <preference for="Magento\ImportService\Api\Data\SourceUploadResponseInterface"
                type="Magento\ImportService\Model\SourceUploadResponse" />
    <preference for="Magento\ImportService\Api\SourceRepositoryInterface"
                type="Magento\ImportService\Model\SourceRepository"/>
    <preference for="Magento\ImportService\Api\Data\FieldMappingInterface"
                type="Magento\ImportService\Model\Source\FieldMapping"/>
    <preference for="Magento\ImportService\Model\Import\Command\StartInterface"
                type="Magento\ImportService\Model\Import\Command\Start"/>


    <preference for="Magento\ImportService\Model\Source\Command\SaveInterface" type="Magento\ImportService\Model\Source\Command\Save"/>
    <preference for="Magento\ImportService\Model\Source\Command\GetInterface" type="Magento\ImportService\Model\Source\Command\Get"/>
    <preference for="Magento\ImportService\Model\Source\Command\GetListInterface" type="Magento\ImportService\Model\Source\Command\GetList"/>
    <preference for="Magento\ImportService\Model\Source\Command\DeleteByUuidInterface" type="Magento\ImportService\Model\Source\Command\DeleteByUuid"/>
    <virtualType name="Magento\ImportService\Model\Source\Validator\LocalPathFileProcessorValidator" type="Magento\ImportService\Model\Source\Validator\ImportServiceValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_request_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\SourceRequestValidator</item>
                <item name="local_path_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\LocalPathValidator</item>
                <item name="mime_type_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\MimeTypeValidator</item>
                <item name="uuid_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\UuidValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\ImportService\Model\Import\Processor\LocalPathFileProcessor">
        <arguments>
            <argument name="validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\LocalPathFileProcessorValidator</argument>
        </arguments>
    </type>
    <virtualType name="Magento\ImportService\Model\Source\Validator\Base64EncodedDataProcessorValidator" type="Magento\ImportService\Model\Source\Validator\ImportServiceValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_request_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\SourceRequestValidator</item>
                <item name="base64_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\Base64Validator</item>
                <item name="uuid_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\UuidValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\ImportService\Model\Import\Processor\Base64EncodedDataProcessor">
        <arguments>
            <argument name="validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\Base64EncodedDataProcessorValidator</argument>
        </arguments>
    </type>
    <virtualType name="Magento\ImportService\Model\Source\Validator\ExternalFileProcessorValidator" type="Magento\ImportService\Model\Source\Validator\ImportServiceValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_request_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\SourceRequestValidator</item>
                <item name="remote_url_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\RemoteUrlValidator</item>
                <item name="mime_type_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\MimeTypeValidator</item>
                <item name="uuid_validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\UuidValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\ImportService\Model\Import\Processor\ExternalFileProcessor">
        <arguments>
            <argument name="validator" xsi:type="object">Magento\ImportService\Model\Source\Validator\ExternalFileProcessorValidator</argument>
        </arguments>
    </type>
    <type name="Magento\ImportService\Model\Import\SourceProcessorPool">
        <arguments>
            <argument name="sourceProcessors" xsi:type="array">
                <item name="local_path" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\ImportService\Model\Import\Processor\LocalPathFileProcessor\Proxy</item>
                    <item name="import_type" xsi:type="const">Magento\ImportService\Model\Import\Processor\LocalPathFileProcessor::IMPORT_TYPE</item>
                </item>
                <item name="base64_encoded_data" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\ImportService\Model\Import\Processor\Base64EncodedDataProcessor\Proxy</item>
                    <item name="import_type" xsi:type="const">Magento\ImportService\Model\Import\Processor\Base64EncodedDataProcessor::IMPORT_TYPE</item>
                </item>
                <item name="external" xsi:type="array">
                    <item name="processor" xsi:type="object">Magento\ImportService\Model\Import\Processor\ExternalFileProcessor\Proxy</item>
                    <item name="import_type" xsi:type="const">Magento\ImportService\Model\Import\Processor\ExternalFileProcessor::IMPORT_TYPE</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\ImportService\Api\ImportStatusInterface" type="Magento\ImportService\Model\ImportStatus" />
    <preference for="Magento\ImportService\Api\Data\ImportStatusResponseInterface" type="Magento\ImportService\Model\ImportStatusResponse" />
    <preference for="Magento\ImportService\Api\Data\ImportStatusResponseItemInterface" type="Magento\ImportService\Model\ImportStatusResponseItem" />
    <preference for="Magento\ImportService\Api\ImportStartInterface"
                type="Magento\ImportService\Model\ImportStart" />
    <preference for="Magento\ImportService\Api\Data\ImportStartResponseInterface"
                type="Magento\ImportService\Model\ImportStartResponse" />
    <preference for="Magento\ImportService\Api\Data\ImportConfigInterface"
                type="Magento\ImportService\Model\ImportConfig" />
    <preference for="Magento\ImportService\Api\ImportRestartOperationInterface"
                type="Magento\ImportService\Model\ImportRestartOperation"/>
    <preference for="Magento\ImportService\Api\Data\ProcessingRulesRuleInterface"
                type="Magento\ImportService\Model\Source\ProcessingRulesRule" />

    <type name="Magento\ImportService\Model\Source\RulesProcessorFactory">
        <arguments>
            <argument name="rules" xsi:type="array">
                <item name="emptyValueReplace" xsi:type="array">
                    <item name="class" xsi:type="string" >Magento\ImportService\Model\ProcessingRules\EmptyValueReplacer</item>
                    <item name="shared" xsi:type="boolean">true</item>
                </item>
                <item name="trim" xsi:type="array">
                    <item name="class" xsi:type="string" >Magento\ImportService\Model\ProcessingRules\Trim</item>
                    <item name="shared" xsi:type="boolean">true</item>
                </item>
                <item name="str_replace" xsi:type="array">
                    <item name="class" xsi:type="string" >Magento\ImportService\Model\ProcessingRules\StrReplace</item>
                    <item name="shared" xsi:type="boolean">true</item>
                </item>
                <item name="addCustomAttribute" xsi:type="array">
                    <item name="class" xsi:type="string" >Magento\ImportService\Model\ProcessingRules\CustomAttribute</item>
                    <item name="shared" xsi:type="boolean">true</item>
                </item>
                <item name="addExtensionAttributes" xsi:type="array">
                    <item name="class" xsi:type="string" >Magento\ImportService\Model\ProcessingRules\AddExtensionAttributes</item>
                    <item name="shared" xsi:type="boolean">true</item>
                </item>
                <item name="addProductOption" xsi:type="array">
                    <item name="class" xsi:type="string" >Magento\ImportService\Model\ProcessingRules\Catalog\Product\Options</item>
                    <item name="shared" xsi:type="boolean">true</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\ImportService\Model\Logger\Error">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magento\ImportService\Model\Logger\Info">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magento\ImportService\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ImportServiceLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="error" xsi:type="object">Magento\ImportService\Model\Logger\Error</item>
                <item name="info" xsi:type="object">Magento\ImportService\Model\Logger\Info</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ImportService\Model\ImportStart">
        <arguments>
            <argument name="logger" xsi:type="object">Magento\ImportService\Model\Logger\Logger</argument>
        </arguments>
    </type>
</config>
