<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ImportService\Api\ImportProcessorInterface" type="Magento\ImportService\Model\ImportProcessor" />
    <preference for="Magento\ImportService\Api\Data\SourceInterface" type="Magento\ImportService\Model\Source" />
    <preference for="Magento\ImportService\Api\Data\ImportEntryInterface" type="Magento\ImportService\Model\ImportEntry" />
    <preference for="Magento\ImportService\Api\Data\ImportParamsInterface" type="Magento\ImportService\Model\ImportParams" />

    <type name="Magento\ImportService\Model\Source\FileTypePool">
        <arguments>
            <argument name="sourceFileTypes" xsi:type="array">
                <item name="csv" xsi:type="string" sortOrder="0">Magento\ImportService\Model\Source\FileType\Csv</item>
            </argument>
        </arguments>
    </type>
</config>
